/* Imagen de fondo */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/luna.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

/* Navbar personalizado */
.navbar-brand {
    font-size: 1.5rem;
}

/* Texto central en las secciones */
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
}

/* Proyectos */
.card-img-top {
    height: 200px;
    object-fit: cover;
    background-image:url(img/imagen\ gatito.jpg)
}

/* Habilidades */
i {
    color: #fff;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
}

