body {
    background-image:url(img/luna.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    line-height: 1.6;
}

.header__navegador {
    display: flex;
    justify-content: space-evenly;
    background-color: #202cd1;
    border: 2PX solid #e1e7e5;
    color: rgb(250, 235, 235);
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    white-space: pre;
    text-align: right;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    display: center;
    text-align: 400px;
    font-family: cursive;
    color: antiquewhite;
}

.border {
    border: 1px solid rgb(242, 244, 255)
}

a {
    color: inherit;
    text-decoration: none;
}

a::focus,
a::active {
    color: inherit;
    outline: none;
    text-decoration: none;
}
.central_tex{
    font-family: 'Lucida Sans',;
    text-align: center;
}
.border{
    border: 1px solid rgb(236, 239, 247);
    text-align:justify;
    background-color: #202cd1;
    color: #f7eded;

}
.imagen{
    width: 130px;
    height: 130px;
    display: block;
    margin:auto ;
    border-radius: 50%;
}